body {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh; 
    background-color:rgba(0, 0, 0, 0.897)
     
}

.login-form {
    background-color: tan;
    padding: 50px;
    border-radius: 10px;
    border: 4px solid brown;
    box-shadow: 0 20px 20px;
    text-align: center; 
}

input {
    width: 100%;
    padding: 5px;
    border: 1px;
    border-radius: 10px;
    margin: 20px 0;
    box-sizing: border-box;
}

button {
    width: 50%;
    box-shadow: 0 5px 5px;
    padding: 5px;
    border-radius: 30px;
    background-color: brown; 
}

img {
    height: 600px;
    width: 1000px;
    right: auto;
}